<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>History</title>
</head>
<body>

    {%extends 'base.html' %}

    {% block content %}
    <h1>HISTORY</h1>
    <p>salam</p>
    <p>salam</p>
    <p>salam</p>
    <p>salam</p>
    <p>salam</p>
    <p>salam</p>
    <p>salam</p>
    <p>salam</p>
    <p>salam</p>
    <p>salam</p>
    <p>salam</p>
    <p>salam</p>
    <p>salam</p>
    <p>salam</p>
    <p>salam</p>
    <p>salam</p>
    <p>salam</p>
    <p>salam</p>
    <p>salam</p>
    {% endblock content %}

</body>
</html>